

<div class="container footer mt-n5 partials lifted checker-board fixed-bottom mh-10 ">
       
            <div class="d-flex flex-column align-items-start m-2">
            
            <span class="row-sm light-background-2 dark-text rounded-3">&copy; 2022 Company, Inc</span>
        </div>
        
       
    </footer>
</div>
</body>
</html>