@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" );

.dark-text {
	color: rgb(70, 37, 6);
	/* text-shadow: 2px 2px 2px rgba(252, 207, 118, 0.66); */
	text-shadow: 1px 1px 0px #7bac3a;
	font-weight: 900;
	font-family: 'BioRhyme';
}

.light-text {
	color:   rgb(243, 212, 183);
	text-shadow: 3px 3px 3px #273f08;
	font-weight: 900;
	font-family: 'BioRhyme';
}


.small-text{
	font-size: 2vmin;
}

.title {
	margin: 2vmin;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color:  rgb(70, 37, 6);
	opacity: 1; 
}

.welcome-box {
	border-radius: 10px;
	text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.574);
	background-color: #25140698;
	background-image: linear-gradient(315deg, #804b20d5 20%,#537e1be9 50%, #f4d52ae4 90% );
	box-shadow: 5px 5px 7px rgba(47, 8, 8, 0.668);
	max-width: 500px;
	padding: 3vmin;
	/* font-family: 'BioRhyme', serif; */
	font-family: 'Lobster', cursive;
}
.spaced{
	line-height: 1.8;
	margin: 10px;

}

.style-divider {
	height: 3rem;
	background-color: rgba(0, 0, 0, .1);
	border: solid rgba(0, 0, 0, .15);
	border-width: 1px 0;
	box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

.dark-background {
	background-color: #40240cd7;
}
.light-background {
	background-color: #d9cbbeea;
}
.recipe-form{
	background-image: linear-gradient(to bottom right, #ad957ff9, #7f644df2, #301a07e6);
	padding: 2%;
}
.invis-holder {
	padding: 4%;
}

.text-holder {
	padding: 7%
}

.partials {
	/* margin: 5px; */
	/* background-color:rgb(255, 216, 181); */
	background-color:#dfd287e4;
}

.lifted {
	border-radius: 10px;
	box-shadow: 1px 1px 6px 4px rgba(0, 0, 0, 0.544);
}
td {
	width: 20%;
}

.i-table{
	margin-top: 5%;
	background-color: #d5c4a6f5;
}

.recipe-bg {
	background: url("https://images.unsplash.com/photo-1627907228175-2bf846a303b4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80");
}

.show-time {
	background: url("https://cdn.stocksnap.io/img-thumbs/960w/house-home_SG5BA6JI8V.jpg");
}

.recipe-show {
	background-color: linear-gradient(to bottom right, #889eaef5, #d4ebc3ea, #101c28);
	padding: 2%;
	margin: 2%;
}

.highlight{
	background-image: radial-gradient(circle, #484C2B, #F37365);
}

.checker-board{
	background-image: linear-gradient(45deg, #a01515 25%, transparent 25%), linear-gradient(-45deg, #537e1b 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #a32222 75%), linear-gradient(-45deg, transparent 75%, #537e1b 75%);
	background-size: 21px 20px;
	background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}

.light-background-2 {
	background-color: #d4c3b3e6;
}

.border {
	border-radius: 10px;
	border: 5px solid rgb(47, 3, 3);
}

.footer {
	max-height: 8%;
}

input[type=text] {
	transition: width 0.4s ease-in-out;
  }

  input[type=text]:focus, input[type=select]:focus, input[type=number]:focus {
	border: 2px, solid,  #e9a03af0;
	/* width: 100%; */
	background-color:  #dac7b7c0 ;
  }

  text:focus {
	background-color:  #dac7b7c0 ;
  }

  .focusing:focus {
	border: 2px, solid,  #e9a03af0;
  }